//color
$text_color : rgba(255,255,255,.6);
$text_color_active : #fff;

//color -> active
$active_color : #fff;

//mask -> color
$mask_color : rgba(0,0,0,.4);

//loading -> bgColor
$load_bg_color : rgba(0,0,0,.6);

//header -> bgColor
$header_bg-color : rgba(0,0,0,.3);

//search-head
$searh_bg_color : rgba(0,0,0,.2);

//dialog
$dialog_bg_color : rgba(0,0,0,.5);
$dialog_content_bg_color : rgba(0,0,0,.6);
$dialog_text_color : rgba(255,255,255,.7);
$dialog_line_color : rgba(0,0,0,.35);

//btn
$btn_color : rgba(255,255,255,.6);
$btn_color_active : #fff;

//lyric -> activeColor
$lyric_color_active : #40ce8f;

//progress
$bar_color : rgba(255,255,255,.15);
$line_color : #fff;
$dot_color : #fff;

//list
$list_head_line_color : rgba(255,255,255,.8);
$list_item_line_color : rgba(255,255,255,.1);

//comments
$comment_head_line_color : rgba(255,255,255,.8);
$comment_item_line_color : rgba(255,255,255,.1);
$comment_replied_line_color : rgba(255,255,255,.3);

//fontSize
$font_size_small : 12px;
$font_size_medium : 14px;
$font_size_medium_x : 16px;
$font_size_large : 18px;
$font_size_large_x : 22px;
